@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

$global-margin: 1rem;
$global-radius: 3px;

body {
    background: rgb(209, 199, 225);
    background: linear-gradient(222deg, rgba(209, 199, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);
    overflow-x: hidden;
}

img {
    filter: saturate(0.7);
}

#badge-acreditacion {
    max-width: 300px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
}

.button {
    font-weight: bold;
}

.orbit-bullets button {
    background-color: #959595;
}

.orbit-bullets button.is-active {
    background-color: $primary-color;
}

.label {
    border-radius: $global-radius;
    padding: 0.6rem 1rem;
    margin-bottom: $global-margin/2;
}

span.marcador {
    color: $success-color;
}

.title-bar {
    background: $primary-color;
}

.top-bar {
    font-family: "hk_groteskbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

    .menu-text {
        color: $white;

        img {
            max-width: 250px;
        }
    }

    a {
        color: $white;
    }

    a:hover,
    a:focus {
        color: $white;
        text-decoration: underline;
    }

    .is-dropdown-submenu-item a {
        color: $primary-color;
    }

    .dropdown.menu>li.opens-right>.is-dropdown-submenu {
        padding: 1rem 0;
    }

    .submenu {
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
}

.no-radius {
    border-radius: 0 !important;
}

.radius-start {
    border-radius: 3px 0 0 3px !important;
}

.radius-end {
    border-radius: 0 3px 3px 0 !important;
}

.orbit {
    .orbit-bullets {
        background-color: none;
    }

    .orbit-next {
        border: 2px solid rgba(255, 255, 255, .35);
        right: 10px;
        transition: all .4s ease-in-out;
        color: rgba(255, 255, 255, .35);
    }

    .orbit-next:hover,
    .orbit-next:focus,
    .orbit-previous:hover,
    .orbit-previous:focus {
        background-color: rgba(255, 255, 255, 0.75);
        border-color: $white;
        color: $primary-color;
    }

    .orbit-previous {
        border: 2px solid rgba(255, 255, 255, .35);
        left: 10px;
        transition: all .4s ease-in-out;
        color: rgba(255, 255, 255, .35);
    }
}

#index-content {
    h2 {
        text-transform: none;
        padding: $global-margin*4 0;
        margin: 0;
        font-size: 2.1rem;
    }

    .card {
        margin-top: $global-margin*4;
        margin-bottom: 4rem;

        h4 {
            text-transform: none;
            font-family: 'hk_groteskmedium';
        }

        .card-section {
            padding: 1rem;
        }
    }
}

.button-group-form {
    .button:hover {
        color: $white !important;
        background: $primary-color !important;
    }
}

.page-content {
    h2 {
        margin: $global-margin*3 0 $global-margin;

        img {
            max-width: 250px;
        }

        font-size: 1.6rem;
        text-transform: none;
    }

    h3 {
        margin-bottom: $global-margin*4/2;
        font-size: 1.5rem;
        font-family: 'hk_groteskmedium';
        letter-spacing: -0.3px;
    }

    h4 {
        font-family: 'hk_groteskmedium';
        letter-spacing: -0.3px;
    }

    img {
        border-radius: $global-radius;
    }

    .list-style-none {
        list-style-type: none;
        margin-left: 0;
    }

    .text-underline {
        text-decoration: underline;
    }

    .section-content {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: $global-margin*2;
    }

    .callout {
        padding: 4rem;
        border-radius: 3px;
    }

    .card {
        min-width: 100% important;
        width: 100%;
        margin: 0 auto;
        margin-top: $global-margin*2;
        text-align: center;

        .card-divider {
            min-height: 56px;
        }

        .card-section {
            padding: 1rem 0 0 0;
            /*1rem 0 0;*/
        }

        p {
            line-height: 1rem;
            margin-bottom: 1rem;
            min-height: 34px;
        }

        h4 {
            font-size: 1rem;
            // margin-right: 1rem;
            font-weight: normal;
            text-transform: none;
            font-family: "hk_groteskbold";
        }

        a:hover {
            text-decoration: underline;
        }

        .envelope-img-level1 {
            /*max-height: 290px;*/
            overflow: hidden;
            border-radius: $global-radius;
            mix-blend-mode: multiply;

            img {
                min-width: 100%;
            }
        }

        .envelope-img-level2 {
            /*max-height: 180px;*/
            overflow: hidden;
            border-radius: $global-radius;
            mix-blend-mode: multiply;

            img {
                min-width: 100%;
            }
        }
    }

    .accordion {
        border-radius: 5px;
        overflow: hidden;

        .accordion-title {
            border: 0;
        }

        .accordion-content {
            background: #fefefea8;
        }

        .accordion-title:hover,
        .accordion-title:focus {
            background-color: $primary-color;
            color: $white;
        }

        h3 {
            margin: 0;
            text-transform: none;
            font-weight: bold;
            font-size: 1rem;
        }

        p,
        ul,
        li {
            font-size: 0.8rem;
        }

        .accordion-content {
            padding: $global-margin*2.5;
        }
    }

    .button-group {
        margin-bottom: $global-margin*2;

        .button {
            font-size: 0.8rem;
            padding: .85em 1.2em;
        }

        .button:first-child:hover {}
    }

    .pie-imagen {
        margin-top: $global-margin/2;
    }

    #section-colaboradoras {
        padding: $global-margin 0 $global-margin*3 0;
        background: lighten($primary-color, 60%);

    }
}

#index-youtube {
    margin-bottom: $global-margin*4;

    .wrapper-iframe {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .wrapper-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.social-footer {
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-top: $global-margin*3;

    .social-footer-icons {
        li:last-of-type {
            margin-right: 0;
        }

        .fa {
            font-size: 1.3rem;
            color: $white;

            &:hover {
                color: darken($dark-gray, 25%);
                transition: color 0.3s ease-in;
            }
        }
    }
}

.fullwidth-cards {
    .card {
        text-align: center;
    }


}

.button-group {
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
}

.col5-unit {
    @include grid-column(2.4); // (12/5 = 2.4)
}

.padding-bottom-content {
    margin-bottom: $global-margin*6;
}

.padding-fullwidth-5col {
    padding: 0 $global-margin/2;

    .button-group .button {
        font-size: .75rem;
    }
}

.padding-fullwidth-3col {
    padding: 0 $global-margin*2;

}

#page-investigadores-content {
    padding-right: $global-margin*2;
    padding-left: $global-margin*2;
}

#page-admision-content {
    .orbit {
        padding: 3rem 3rem 0 3rem;

        p {
            font-size: 0.9rem;
        }

        p a {
            text-decoration: underline;
            font-weight: bold;
        }

        p i {
            font-size: 60px !important;
        }

        .orbit-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .orbit-wrapper {
            background: #d8d8ee;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 3rem;
        }
    }
}

#grid-container-orbit {
    margin-top: $global-margin*3;

    .orbit-wrapper {
        overflow: hidden;
        border-radius: 15px;
    }
}

#plan-estudios {
    mix-blend-mode: multiply;
    margin: 2rem 0;
}

.grid-temas {
    margin-bottom: $global-margin*3;
}

@media screen and (max-width: 39.9375em) {
    .orbit {

        .orbit-next {
            right: -25px;
        }

        .orbit-previous {
            left: -25px;
        }
    }
}